@font-face {
    font-family: "Poppins";
    src: url(Poppins/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(81, 134, 240), #9868a4);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 19px;
    margin-left: 8px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title-box,
#desc-box {
    background: #edeef0;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    outline: none;
    padding: 10px;
    width: 210px;
}

button {
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    margin-bottom: 25px;
}

ul li {
    list-style: none;
    font-size: 14px;
    padding: 15px 10px 20px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}
.creation-date,
.completion-date {
display: flex;
align-items: center;
flex-direction: row;
font-size: 15px;
white-space: nowrap;
}

.creation-date {
    margin-right: 30%;
}

.completion-date {
    margin-right: 34%;
    color: green;
}

